.container {
    margin: 0 5% 0 5%;
}

.toolbar {
    display: flex;
    align-items: center;
}

.toolbar > * {
    margin-right: 10px;
}

.note-search-bar {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-top: 15px;
}

.note-tags {
    margin-left: auto;
}

.note-search-bar input[type="text"] {
    width: 300px;
    margin: 0;
}

.working-area {
    display: flex;
    height: 700px;
}

.list-of-notes {
    border: 1px solid #000000;
    width: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.opened-note {
    border: 1px solid #000000;
    border-left: none;
    width: 70%;
}

.note-button {
    width: 100%;
    height: 70px;
    text-align: left;
}

.notes-name-span {
    display: block;
    font-weight: bold;
}

.notes-value-span {

}
