@{
    ViewData["Title"] = "Home Page";
}

<html>
    <head>
        <meta charset="UTF-8" />
        <title>Log-in page</title>
        <link rel="stylesheet" href="./css/site.css"/>
    </head>
    <body>
        <header>

        </header>
        <a href="@Url.Action("NotePage", "ProjectPages")">Note Page</a>
        <footer>

        </footer>
    </body>
</html>
@* <textarea rows="@ViewBag.Note.Rows" cols="@ViewBag.Note.Columns">@ViewBag.Note.Value</textarea> *@
