@{
    ViewData["Title"] = "Home Page";
}

<html>
    <head>
        <meta charset="UTF-8" />
        <title>Notes Project</title>
        <link rel="stylesheet" href="./css/site.css"/>
    </head>
    <body>
        <header>

        </header>

        <button id="addNoteButton">Add Note</button>
        <div id="noteContainer"></div>

        <footer>

        </footer>

        <script src="./js/site.js"></script>
    </body>
</html>
@* <textarea rows="@ViewBag.Note.Rows" cols="@ViewBag.Note.Columns">@ViewBag.Note.Value</textarea> *@
