@{
    ViewData["Title"] = "Home Page";
}

<button id="addNoteButton">Add Note</button>
<div id="noteContainer"></div>
<script src="./js/site.js"></script>
@* <textarea rows="@ViewBag.Note.Rows" cols="@ViewBag.Note.Columns">@ViewBag.Note.Value</textarea> *@
