@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Styles{
     <link rel="stylesheet" type="text/css" href="/css/Authentication.css">
}

@section Scripts {
    <script src="~/js/LogIn.js"></script>
}

<div style="display: flex; justify-content: center; padding-top: 20px;">
    <div class="custom-form">
        <h1 class="text-center">Log in</h1>
        <form>
            <div class="mb-3 mt-4">
                <label for="InputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="InputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="InputPassword">
            </div>
            <button type="button" class="login-btn mb-3 mt-3" onclick="handleLogIn()">Log in</button>
            <p>Don’t have an account? <a class="green-link" asp-controller="Home" asp-action="Signup">Sign up</a></p>
        </form>
    </div>
</div>

