@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="/css/Authentication.css" >
}

<div style="display: flex; justify-content: center; padding-top: 20px;">
    <div class="custom-form">
        <h1 class="text-center">Sign up</h1>
        <form>
            <div class="row">
                <div class="col mt-4">
                    <label for="FirstName" class="form-label">First Name</label>
                     <input type="text" class="form-control" id="FirstName" aria-describedby="firstName">
                </div>
                <div class="col  mt-4">
                    <label for="LastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="LastName" aria-describedby="lastName">
                </div>
            </div>
            <div class="mb-3 mt-4">
                <label for="InputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="InputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="InputPassword">
            </div>
            <button type="submit" class="login-btn mb-3 mt-3">Sign up</button>
            <p>Already have an account? <a class="green-link" asp-controller="Home" asp-action="Login">Log in</a></p>
        </form>
    </div>
</div>